{% extends 'base.html' %}
{% block 'head' %}
<style>
    .slidecontainer {
      width: 100%;
    }
    
    .slider {
      -webkit-appearance: none;
      width: 100%;
      height: 15px;
      border-radius: 5px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    }
    
    .slider:hover {
      opacity: 1;
    }
    
    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #04AA6D;
      cursor: pointer;
    }
    
    .slider::-moz-range-thumb {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #04AA6D;
      cursor: pointer;
    }
    </style>

{% endblock %}

{% block 'body' %}
<br><br><br><br><br><br>
<div class="container">
<div class="card text-center" style="width:50rem;display: flex;height: 20rem;border-width: thin medium thick;border-color: black;">
    <div class="card-body">
        <h5 class="card-title">Parola Oluştur</h5>
        <div class="slidecontainer">
            <form method="post">
            {% csrf_token %}
            <input type="range" min="1" max="20" value="1" class="slider" name="passcharnum" id="myRange">
            <p>Değer: <span id="demo"></span></p>
           <small>Oluşturmak istediğiniz parolanın kaç karakterli olacağını belirledikten sonra aşağıdaki butona basınız </small>
           
            <div class="container">
                <br>
                <input type="submit" class="btn btn-primary btn-md" value="Parola Oluştur!">
            </div>
            </form>
            <br>
            {% if password %}
            <div class="container">
                <h4>Parolanız</h4>
                <strong><p style="color: tomato;">{{password}}</p></strong>
            </div>
            {% endif %}

        </div>
        <script>
            var slider = document.getElementById("myRange");
            var output = document.getElementById("demo");
            output.innerHTML = slider.value;

            slider.oninput = function(){
                output.innerHTML = this.value;
            }
        </script>
    </div>
</div>
</div>














{% endblock %}