<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><img src="https://cdn-icons-png.flaticon.com/512/3500/3500716.png" class="img-fluid" width="50" height="40" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Parolalarım<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'generate-password' %}">Parola Oluştur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">Hakkımızda</a>
        </li>
      </ul>
     
      <ul class="navbar-nav ml-auto">

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logoutrequest' %}">Çıkış Yap</a>
         </li>
       
         {% else %}
          <li class="nav-item">
           <a class="nav-link" href="{% url 'loginrequest' %}">Giriş Yap</a>
          </li>

       
          {% endif %}
      </ul>
  
    </div>
  </nav>